#sa_zis_PN {
  display: none !important;
}

.hpl .scroll_cont {
  display: none !important;
}

.hp_cont .sbox {
  top: 0 !important;
  bottom: 15% !important;
  position: absolute !important;
}
/* 拉销搜索框范围 */
.sbox.c_show_box {
  height: 0 !important;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
.bg-video.hp_media_container {
  background-size: cover !important;
  z-index: 0;
}
.img_cont {
  display: none !important;
}
.hp_top_cover {
  display: none !important;
}
.head_cont {
  display: none !important;
}
#idCont {
  display: none !important;
}
.hp_body {
  background: black !important;
}
.hide {
  background: black !important;
}
